
*.class
*/android/*

platforms/ios/*

.idea/scopes/scope_settings.xml

.idea/workspace.xml

platforms/ios/cordova/console.log

platforms/ios/www/plugins/org.apache.cordova.camera/www/Camera.js

platforms/ios/www/plugins/org.apache.cordova.camera/www/CameraConstants.js

platforms/ios/www/plugins/org.apache.cordova.camera/www/CameraPopoverOptions.js

platforms/ios/www/plugins/org.apache.cordova.camera/www/ios/CameraPopoverHandle.js

platforms/ios/www/plugins/org.apache.cordova.console/www/console-via-logger.js

platforms/ios/www/plugins/org.apache.cordova.console/www/logger.js

platforms/ios/www/plugins/org.apache.cordova.device/www/device.js

platforms/ios/www/rate.html

platforms/ios/www/review.html

platforms/ios/Workshop/config.xml

platforms/ios/www/cordova_plugins.js

platforms/ios/www/index.html

platforms/ios/www/js/index.js

platforms/ios/Workshop/config.xml

platforms/ios/www/cordova_plugins.js

.classpath

.project

.settings/.jsdtscope

.settings/org.eclipse.jdt.core.prefs

*.component

.settings/org.eclipse.wst.common.project.facet.core.xml

.settings/org.eclipse.wst.jsdt.ui.superType.container

.settings/org.eclipse.wst.jsdt.ui.superType.name

WebContent/META-INF/MANIFEST.MF
