/* rate.css */
@import url("main.css");

.pic {
    background: url(../img/good-1.jpg) no-repeat center center fixed;
}

/* Buttons */
.buttons {
    background: rgba(0,0,0, 0.4);
    padding: 11px;
}
    .bttn {
    	background: none;
    	padding: 15px 0px;
    	color: white;
    	text-align: center;
    	text-decoration: none;
    	font-size: 75px;
    	border-radius: 50px;
    }