/* rate.css */
@import url("main.css");

.pic {
    background: url(../img/good-1.jpg) no-repeat center center fixed;
}

/* Buttons */
.buttons {
    background: rgba(0,0,0, 0.4);
    padding: 11px;
    margin: 0;
}
.bttn {
	background: none;
	padding: 15px 0px !important;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 75px;
	border-radius: 50px;
}

.ui-container{
    bottom: 0px;
    position: fixed;
    width: 100%;
}

#bttn-tweet{

}

#tweet-box{

}
#tweet-yes{
    color: deepskyblue;
}

#tweet-no{
    color: darkgrey;
}

#tweet-box-inside{
    border-top: solid 1px ghostwhite;
    width: 200px;
    height: 84px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-float{
    vertical-align: bottom;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

}
