#rate-buttons {
    position: fixed;
    margin: 0;
    bottom: 0;
    width: 100%;
}

/* Buttons */
.buttons {
    background: rgba(0,0,0, 0.4);
    padding: 11px;
    margin: 0;
}
.bttn {
    background: none;
    padding: 15px 0px !important;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 125px !important;
    border-radius: 50px;
}