/* review.css */
@import url("main.css");

.see_my_food_box {
    background: url('img/good-3.jpg');
    width: 100%;
    position: fixed;
    top: 0;
}

img.avatar {
    display: block;
    position: fixed;
    border-radius: 3em;
    bottom: 100px;
    z-index: 100;
    left: 50%;
    margin-left: -40px; // half img width to center
}

.review-box {
    min-height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    max-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
}

#rate-buttons {
    position: fixed;
    margin: 0;
    bottom: 0;
    width: 100%;
}

p {
    text-align: center;
    color: white;
    padding: 1.5em;
    font-size: 1em;
    line-height: 1.5em;
}

.semi_opaque_blackness {
    background: rgba(0,0,0, 0.75);
}

#review_for_you {
    position: fixed;
    width: 100%;
    top: 50%;
    margin-top: -48px;
}
