/* review.css */
@import url("main.css");

.see_my_food_box {
    background: url('img/good-3.jpg');
    width: 100%;
    position: fixed;
    top: 0;
}

img.avatar {
    display: block;
    position: relative;
    border-radius: 3em;
    margin: auto;
    top: 470px;
    z-index: 100;
}

.review-box {
    height: 640px;
    position: relative;
    background-repeat: no-repeat;
}



#rate-buttons {
    position: fixed;
    margin: 0;
    bottom: 0;
    width: 100%;
}

p {
    text-align: center;
    color: white;
    padding: 1.5em;
    font-size: 1em;
    line-height: 1.5em;
}

.semi_opaque_blackness {
    background: rgba(0,0,0, 0.75);
}
